<h1>{{this.title}}</h1>
<p>Description: {{this.description}}</p>
<h3>Category:{{this.category}}</h3>
<h4>Organiser:{{this.organiser.username}}</h4>
<hr>

<h3>Image:</h3>
<img class="event-img" src="{{this.image}}">

<a href="/events">Back</a>
<a href="/events/{{this._id}}/edit">Edit</a>