<h2>Edit the event: {{event.title}}</h2>
<form action="/events/{{this._id}}/edit" method="post">
  <label> Title:
    <input type="text" name="title" value="{{this.title}}" />
  </label>
  <label> Description:
    <textarea name="description" cols="30" rows="4">{{this.description}}</textarea>
  </label>
  <label> Category:
    <input type="text" name="category" value="{{this.category}}" />
  </label>
  <button type="submit"> Save </button>
  <button type="submit"> <a href="/user-profile">Cancel</a></button>
</form>