<h1>{{this.title}}</h1>
<p>Description: {{this.description}}</p>
<h3>Category:{{this.category}}</h3>
<h4>Organiser:{{this.organisers.username}}</h4>
<hr>
<a href="/events">Back</a>
<a href="/events/{{this._id}}/edit">Edit</a>