<div class="img-container">
  <img class="event-one-img" src="{{eventFromDB.image}}">
  <div class="info">
    <h3><b>{{eventFromDB.title}}</b></h3>
    <br>
    <p>Description: {{eventFromDB.description}}</p>
    <br>
    <p>Category:{{eventFromDB.category}}</p>
    <br>
    <p>Organiser:{{eventFromDB.organiser.username}}</p>
    <br>
    <a href="/events" class="redirect-btn">Back</a>

    {{#if isOrganiser}}
      <a href="/events/{{eventFromDB._id}}/edit" class="redirect-btn">Edit</a>
    {{/if}}

  </div>
</div>